/* 

Display - CSS File

*/


/*** GLOBAL  ***/

body {
	font-family:Helvetica, Arial, Tahoma, Verdana;
	font-size:12px;
	margin:0 auto;
	padding:0;
	line-height:20px;
}
* {
	margin:0;
	padding:0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}
.clear{clear:both; height:1px !important; line-height:1px !important; float:none!important;}
form{margin:0; padding:0;}
hr {
	border-width:0;
	height:1px;
	line-height:0;
	margin:45px 0px;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
}

hr.sparator{
	border-width:0;
	height:1px;
	line-height:0;
	margin:0px 0px 45px 0px;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
}

/*** END OF GLOBAL  ***/

/*** DEFAULT ELEMENT STYLES ***/
/* heading */
h1, h2{margin-bottom:15px; font-family:Arial, Verdana; font-weight:normal; }
h3, h4, h5, h6{margin-bottom:8px; font-family:Arial, Verdana; font-weight:normal;}
h1 {font-size:36px; line-height:30px;}
h2 {font-size:26px; line-height:24px;}
h3 {font-size:24px; line-height:20px;}
h4 {font-size:20px; line-height:15px;}
h5 {font-size:16px; line-height:15px;}
h6 {font-size:13px; line-height:15px;}

/* links */
a, a:visited {text-decoration:none;}
a:hover{text-decoration:underline;}
a img{border:none}

/* float align */
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-top: 3px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
	margin-top: 5px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignnone,
img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:3px;
}

img.alignleft, 
img.alignright, 
img.aligncenter,
img.alignnone {
	margin-bottom: 12px;
}

/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	margin-bottom:30px;
}
ul, ol {
	margin:10px 0 20px 20px;
}
li ol,
li ul
{
	list-style:square;
	margin-bottom:0;
	margin-top:0;
}
li ol {list-style:decimal;}
	
blockquote {
	font-style:italic;
	margin:0px 0 20px 0px;
	padding:6px 10px 0px 40px;
	line-height:20px;
	background-image:url(../images/quote.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
}

/* code */
code {
	font-family:Verdana, Arial;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	border-left:4px solid #dbdbdb;
	padding:15px 10px;
}

.no-margin{ margin:0px!important;}

/*** END OF DEFAULT ELEMENT STYLES ***/

/*** CONTAINER ***/
#wrapper{width:1020px; margin:30px auto; }
#container{width:940px; margin:0 auto;}

/* TOP */
#top{padding:0px 0px 0px 0px; width:100%; float:left;}
#logo{ float:left;}
#logo h1, #logo h1 a, #logo h1 a:visited{font-size:36px; margin-bottom:0px;}
#logo h1 a:hover{text-decoration:none;}
#logo .desc{ font-size:15px; font-family:Calibri, Verdana, Arial;}
.information{ float:right;}

/* TOP NAVIGATION */
#topnav{float:left; margin-bottom:30px; width:100%;}
#topnav ul{list-style-type:none; margin:0px; padding:0px 0px 0px 0px;}
#topnav ul li{list-style-type:none; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;}
#topnav ul li li{padding:0px;}
#topnav ul li:first-child{background-image:none;}


/*Top level list items*/
.jqueryslidemenu ul li{
	position: relative;
	display: inline;
	float: left;
	z-index:100;
	font-size:12px;
	font-weight: bold;
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a{
	display: block;
	padding: 5px 31px 5px 31px;
	text-decoration: none;
}

* html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}
	
/*1st sub level menu*/
.jqueryslidemenu ul li ul{
	position: absolute;
	left: 0px;
	top:25px !important;
	display: block;
	visibility: hidden;
	padding:0px !important;
	padding-top:15px !important;
}


/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{display: list-item; float:none;}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
	left: 143px !important;
	top: -1px !important;
	padding-top:0px !important;
}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
	width: 160px; /*width of sub menus*/
	padding: 6px 15px;
	margin: 0;
	border-top-width:0px!important;
}

.jqueryslidemenu ul li ul li li a{border-width:0px 1px 1px 1px;}


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{position: absolute;	top: 17px;	right: 16px;}

.rightarrowclass{position: absolute; top: 12px;	right: 5px;}


/* HEADER */
#header{clear:left; margin:10px 0px 10px 0px; padding-bottom:30px;  position:relative}
.header-desc{ background:url(../images/bg-text-slide.png); width:178px; padding:34px 19px 0px 19px;; margin-right:78px; position:absolute; z-index:15; right:0px; height:186px; top:0px;}
.header-desc h1{ margin-bottom:0px;}

.header-desc p{ margin-top:25px;}

/* SLIDER */
#slideshow{ height:427px; position:relative;}
.desc-slide{height:403px; overflow:hidden; position:relative;}


/* CONTENT */
#main-content{margin:20px 0px;}
#main-content, #content, #sidebar{float:left;}
#content{width:610px; margin-right:30px;}
#content.full{ width:100%;}


.box-gray{ font-size:22px; padding:24px 0px; text-align:center; clear:both;}

/* SIDEBAR */
#sidebar{width:270px; padding-left:29px; }
#sidebar .widget-title{margin-bottom:22px; font-size:26px; line-height:28px;}
#sidebar ul{
	list-style-type:none;
	list-style-position:outside;
	margin:0;
	padding:0;
}
#sidebar ul li{
	list-style-type:none;
	margin:0;
	padding:0;
 }
#sidebar ul li li{
	list-style-type:none;
	margin:0px 0px 7px 0px;
	padding:0px 0px 7px 0px;
}


#sidebar .widget-container{margin-bottom:40px;}

.small{font-size:10px;}
#sidebar li.newslist li, #sidebar li.newslist li a{ background:none; border:0px; padding:0px;}
#sidebar li.newslist  .small{ display:block; margin-bottom:10px;}
#sidebar li.newslist .title{ display:block; margin-bottom:0px; font-size:20px;}
#sidebar li.newslist span.title a:link, #sidebar li.newslist span.title a:visited{ padding:0px; text-decoration:underline!important; }
#sidebar li.newslist p{ overflow:hidden; }


#src div {
    padding: 5px 0px 5px 0px;
    width: 268px;
}
#src input {
    background-color: transparent;
    background-image: none;
    border: 0 none;
    font-size: 11px;
    padding: 0 10px;
    width: 215px;
}
#src .button_src {
    border: 0 none;
    cursor: pointer;
    width: 20px;
	height:20px;
}

#sidebar li.banner ul{ margin:0px; padding:0px;}
#sidebar li.banner li{ display:inline; background:none; border:0px; float:left; margin:0px 20px 18px 0px; padding:0px;}
#sidebar li.banner li a{background:none; padding:0px;}

#sidebar .text a{ background:none; padding:0px;}


/* FOOTER */
#frame-footer{padding:1px 0px 46px 0px; margin-top:40px; float:left; width:100%;}
#footer{ padding-top:10px;}
#copyright{font-size:12px; float:left; padding-top:3px;}
#footer .social{ margin:0px; padding:0px; float:right;}
#footer .social li{ list-style-type:none; float:left; margin-right:5px;}
#footer .social li:last-child{ margin-right:0px;}

#footer .social li#social1 a{
	border: none;
	background: url(../images/icons/twitter.png) no-repeat 0px 0px  ;
	width:24px;
	display:block;
	height:24px;
	margin-right:6px;
	text-indent: -9999px;
}
#footer .social li#social2 a{
	border: none;
	background: url(../images/icons/youtube.png) no-repeat 0px 0px  ;
	width:24px;
	display:block;
	height:24px;
	margin-right:6px;
	text-indent: -9999px;
}
#footer .social li#social3 a{
	border: none;
	background: url(../images/icons/facebook.png) no-repeat 0px 0px  ;
	width:24px;
	display:block;
	height:24px;
	margin-right:6px;
	text-indent: -9999px;
}
#footer .social li#social4 a{
	border: none;
	background: url(../images/icons/flicker.png) no-repeat 0px 0px  ;
	width:24px;
	display:block;
	height:24px;
	margin-right:6px;
	text-indent: -9999px;
}
#footer .social li#social1 a:hover, #footer .social li#social2 a:hover, #footer .social li#social3 a:hover, #footer .social li#social4 a:hover{background-position: 0px -24px;}





/*=======================================*/

/*== Column Layouts ==*/
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{margin-right: 4%; position:relative; float:left; }
.one_half{ width:48%; }
.one_third{width:30.6666%;}
.one_fourth{width:22%; }
.one_fifth{width: 16.8%;}
.one_sixth {width: 13.3333%;}

.two_third{width: 65.3332%;}
.two_fourth {width: 48%;}
.two_fifth {width: 37.6%;}
.two_sixth {width: 30.6666%;}

.three_fourth{width:74%;}
.three_fifth {width: 58.4%;}
.three_sixth {width: 47.9998%;}

.four_fifth {width: 79.2%;}
.four_sixth {width: 65.3332%;}

.five_sixth {width: 82.6665%;}
.last{ margin-right:0 !important; clear:right; }


/*== Column List ==*/
.four_column{list-style-type:none; margin:0px; padding:0px;}
.four_column li{list-style-type:none;width:22%; margin-right:4%; float:left;}
.four_column p{margin-bottom:10px;}

.three_column{list-style-type:none; margin:0px; padding:0px;}
.three_column li{list-style-type:none;width:30.66%; margin-right:4%; float:left;}
.three_column p{margin-bottom:10px;}

.two_column{list-style-type:none; margin:0px; padding:0px;}
.two_column li{list-style-type:none;width:48%; margin-right:4%; float:left;}
.two_column p{margin-bottom:10px;}

.three_four_column{list-style-type:none; margin:0px; padding:0px;}
.three_four_column li{list-style-type:none;width:74%; margin-right:4%; float:left;}
.three_four_column p{margin-bottom:10px;}

.two_column li li, .three_column li li, .four_column li li, .three_four_column li li{margin:0px; width:auto !important; float:none;}

/* Form and Button */
input[type="text"],
textarea {	padding: 5px;}
	
.more:hover, .button:hover{ text-decoration:none; }
.more, .button{
	padding:3px 15px;
	display:inline-block;
	font-size:12px;
	text-align:center;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}

/* PREDIFENED BUTTON*/

/* white */
.white{
	color:#666666!important;	
	border:solid 1px #e5e5e5!important;
	background:#f3f3f3!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3))!important;
	background: -moz-linear-gradient(top,  #ffffff,  #f3f3f3)!important;
	background: -o-linear-gradient(top,  #ffffff,  #f3f3f3)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3')!important;
}

.white:hover{
	border:solid 1px #e5e5e5!important;
	color:#666666!important;	
	background:#ffffff!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#ffffff))!important;
	background: -moz-linear-gradient(top,  #f3f3f3,  #ffffff)!important;
	background: -o-linear-gradient(top,  #f3f3f3,  #ffffff)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#ffffff')!important;
}

/* black */
.black{
	color:#bdbdbd!important;	
	border:solid 1px #3f3f3f!important;
	background:#454545!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#5c5c5c), to(#454545))!important;
	background: -moz-linear-gradient(top,  #5c5c5c,  #454545)!important;
	background: -o-linear-gradient(top,  #5c5c5c,  #454545)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5c5c', endColorstr='#454545')!important;
}
.black:hover{
	color:#bdbdbd!important;	
	border:solid 1px #3f3f3f!important;
	background:#5c5c5c!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#5c5c5c))!important;
	background: -moz-linear-gradient(top,  #454545,  #5c5c5c)!important;
	background: -o-linear-gradient(top,  #454545,  #5c5c5c)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#5c5c5c')!important;
}

/* blue */
.blue{
	color:#0c7aa5!important;	
	border:solid 1px #6fcef3!important;
	background:#73d0f4!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#aae8fd), to(#73d0f4))!important;
	background: -moz-linear-gradient(top,  #aae8fd,  #73d0f4)!important;
	background: -o-linear-gradient(top,  #aae8fd,  #73d0f4)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aae8fd', endColorstr='#73d0f4')!important;
}
.blue:hover{
	color:#0c7aa5!important;	
	border:solid 1px #6fcef3!important;
	background:#aae8fd!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#73d0f4), to(#aae8fd))!important;
	background: -moz-linear-gradient(top,  #73d0f4,  #aae8fd)!important;
	background: -o-linear-gradient(top,  #73d0f4,  #aae8fd)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#73d0f4', endColorstr='#aae8fd')!important;
}

/* pink */
.pink{
	color:#bd2d3e!important;	
	border:solid 1px #f46475!important;
	background:#f56678!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff879d), to(#f56678))!important;
	background: -moz-linear-gradient(top,  #ff879d,  #f56678)!important;
	background: -o-linear-gradient(top,  #ff879d,  #f56678)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff879d', endColorstr='#f56678')!important;
}

.pink:hover{
	color:#bd2d3e!important;	
	border:solid 1px #f46475!important;
	background:#ff879d!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#f56678), to(#ff879d))!important;
	background: -moz-linear-gradient(top,  #f56678,  #ff879d)!important;
	background: -o-linear-gradient(top,  #f56678,  #ff879d)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f56678', endColorstr='#ff879d')!important;
}

/* purple */
.purple{
	color:#aa58a3!important;	
	border:solid 1px #c589bf!important;
	background:#c88cc2!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#eabbe6), to(#c88cc2))!important;
	background: -moz-linear-gradient(top,  #eabbe6,  #c88cc2)!important;
	background: -o-linear-gradient(top,  #eabbe6,  #c88cc2)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eabbe6', endColorstr='#c88cc2')!important;
}
.purple:hover{
	color:#aa58a3!important;	
	border:solid 1px #c589bf!important;
	background:#eabbe6!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#c88cc2), to(#eabbe6))!important;
	background: -moz-linear-gradient(top,  #c88cc2,  #eabbe6)!important;
	background: -o-linear-gradient(top,  #c88cc2,  #eabbe6)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c88cc2', endColorstr='#eabbe6')!important;
}

/* green */
.green{
	color:#5d8122!important;	
	border:solid 1px #9cc854!important;
	background:#a0ca58!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#cfe986), to(#a0ca58))!important;
	background: -moz-linear-gradient(top,  #cfe986,  #a0ca58)!important;
	background: -o-linear-gradient(top,  #cfe986,  #a0ca58)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfe986', endColorstr='#a0ca58')!important;
}
.green:hover{
	color:#5d8122!important;	
	border:solid 1px #9cc854!important;
	background:#cfe986!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#a0ca58), to(#cfe986))!important;
	background: -moz-linear-gradient(top,  #a0ca58,  #cfe986)!important;
	background: -o-linear-gradient(top,  #a0ca58,  #cfe986)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0ca58', endColorstr='#cfe986')!important;
}

/* yellow */
.yellow{
	color:#a26704!important;	
	border:solid 1px #f7b443!important;
	background:#f8b747!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffdc7b), to(#f8b747))!important;
	background: -moz-linear-gradient(top,  #ffdc7b,  #f8b747)!important;
	background: -o-linear-gradient(top,  #ffdc7b,  #f8b747)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdc7b', endColorstr='#f8b747')!important;
}
.yellow:hover{
	color:#a26704!important;	
	border:solid 1px #f7b443!important;
	background:#ffdc7b!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8b747), to(#ffdc7b))!important;
	background: -moz-linear-gradient(top,  #f8b747,  #ffdc7b)!important;
	background: -o-linear-gradient(top,  #f8b747,  #ffdc7b)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8b747', endColorstr='#ffdc7b')!important;
}

/* grey */
.grey{
	color:#575757!important;	
	border:solid 1px #a9a9a9!important;
	background:#acacac!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#acacac))!important;
	background: -moz-linear-gradient(top,  #cdcdcd,  #acacac)!important;
	background: -o-linear-gradient(top,  #cdcdcd,  #acacac)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdcdcd', endColorstr='#acacac')!important;
}
.grey:hover{
	color:#575757!important;	
	border:solid 1px #a9a9a9!important;
	background:#cdcdcd!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#acacac), to(#cdcdcd))!important;
	background: -moz-linear-gradient(top,  #acacac,  #cdcdcd)!important;
	background: -o-linear-gradient(top,  #acacac,  #cdcdcd)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#acacac', endColorstr='#cdcdcd')!important;
}

/* teal */
.teal{
	color:#436781!important;	
	border:solid 1px #8fa6b7!important;
	background:#91a9ba!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#b2cadb), to(#91a9ba))!important;
	background: -moz-linear-gradient(top,  #b2cadb,  #91a9ba)!important;
	background: -o-linear-gradient(top,  #b2cadb,  #91a9ba)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2cadb', endColorstr='#91a9ba')!important;
}
.teal:hover{
	color:#436781!important;	
	border:solid 1px #8fa6b7!important;
	background:#b2cadb!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#91a9ba), to(#b2cadb))!important;
	background: -moz-linear-gradient(top,  #91a9ba,  #b2cadb)!important;
	background: -o-linear-gradient(top,  #91a9ba,  #b2cadb)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#91a9ba', endColorstr='#b2cadb')!important;
}

/* darkblue */
.darkblue{
	color:#104f67!important;	
	border:solid 1px #3a92b4!important;
	background:#3b94b6!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#48add4), to(#3b94b6))!important;
	background: -moz-linear-gradient(top,  #48add4,  #3b94b6)!important;
	background: -o-linear-gradient(top,  #48add4,  #3b94b6)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#48add4', endColorstr='#3b94b6')!important;
}
.darkblue:hover{
	color:#104f67!important;	
	border:solid 1px #3a92b4!important;
	background:#48add4!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#3b94b6), to(#48add4))!important;
	background: -moz-linear-gradient(top,  #3b94b6,  #48add4)!important;
	background: -o-linear-gradient(top,  #3b94b6,  #48add4)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b94b6', endColorstr='#48add4')!important;
}

/* darkred */
.darkred{
	color:#750916!important;	
	border:solid 1px #ab2636!important;
	background:#af2838!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#e44458), to(#af2838))!important;
	background: -moz-linear-gradient(top,  #e44458,  #af2838)!important;
	background: -o-linear-gradient(top,  #e44458,  #af2838)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e44458', endColorstr='#af2838')!important;
}
.darkred:hover{
	color:#750916!important;	
	border:solid 1px #ab2636!important;
	background:#e44458!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#af2838), to(#e44458))!important;
	background: -moz-linear-gradient(top,  #af2838,  #e44458)!important;
	background: -o-linear-gradient(top,  #af2838,  #e44458)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#af2838', endColorstr='#e44458')!important;
}

/* darkgreen */
.darkgreen{
	color:#294102!important;	
	border:solid 1px #598118!important;
	background:#5b8419!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#78ac24), to(#5b8419))!important;
	background: -moz-linear-gradient(top,  #78ac24,  #5b8419)!important;
	background: -o-linear-gradient(top,  #78ac24,  #5b8419)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#78ac24', endColorstr='#5b8419')!important;
}
.darkgreen:hover{
	color:#294102!important;	
	border:solid 1px #598118!important;
	background:#78ac24!important;
	background: -webkit-gradient(linear, left top, left bottom, from(#5b8419), to(#78ac24))!important;
	background: -moz-linear-gradient(top,  #5b8419,  #78ac24)!important;
	background: -o-linear-gradient(top,  #5b8419,  #78ac24)!important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b8419', endColorstr='#78ac24')!important;
}



/*==== Dropcaps ====*/
.circle {
	display: block;
	width: 65px;
	height: 65px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	float:left;
	font-size:36px;
	line-height:60px;
	text-align: center;
	margin:0px 8px 0 0;
}



/* TABS */
.tabcontainer{margin:20px 0px 0px 0px;}
ul.tabs {margin: 0;	padding: 0;	list-style: none; height: 30px;	width: 100%;}
ul.tabs li {
	float: left;
	margin: 0 2px 0 0;
	padding: 0;
	height: 29px;
	line-height: 31px;
	overflow: hidden;
	position: relative;
	font-size:12px;
}
ul.tabs li a {	text-decoration: none;	display: block;	padding: 0 15px; outline: none;}
ul.tabs li a:hover {text-decoration:none;}
.tab-content {padding: 21px 16px}


/* JQUERY TOGGLE */
div.trigger {
	padding: 10px 15px;
	margin: 0 0 0px 0;
	width:auto;
	font-size:12px;
	font-weight: normal;
	border-top:0px;
}

div.trigger span {
	text-decoration: none;
	display: block;
	padding-left:15px;
	height:12px;
	line-height:normal;
	cursor:pointer;
}
div.active span{background-position:0px -7px !important;}
div.active {background-position: left bottom;}
.toggle_container {
	margin: 0 0 0px;
	padding: 0;
	overflow: hidden;
	clear: both;

}
.toggle_container .block {
	padding: 10px;
}
.toggle_container .block p {
	padding: 5px 0;
	margin: 5px 0;
}

/* ALLERT */
.alertred, .alertgreen, .alertorange, .alertyellow{
	padding: 10px;
	margin: 0 0 25px 0;
	text-align:center;
	background: #eee;
}
.alertred{
	background: #ffd7d8;
	border: 1px solid #ffbcbc;
	color: #f0686b;
}
.alertgreen{
	background: #ddffd4!important;
	border: 1px solid #bfe8b4!important;
	color: #6db75a;
}
.alertorange{
	background: #ffcfae;
	border: 1px solid #ffb482;
	color: #d96515;
}

.alertyellow{
	background: #fff5d4!important;
	border: 1px solid #ffe795!important;
	color: #c3a21c;
}

